# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can allowlist files/folders with !, these will not be ignored.
!*.yaml
!*.jinja
!.gitignore
!*.md
!automation/
!automation/*
!blueprints
!custom_templates/
!includes/
!includes/*
!packages/
!packages/**
!scripts/
!scripts/*
!themes/
!themes/*
!www/icons/*

# Ignore folders
.cloud
.storage
.vscode

# Ignore Python cache files 
__pycache__/

# Ensure these files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

packages/persons/Ellen/work_notification.yaml
packages/persons/Sicco/finance.yaml
