
#################################################################
## Home Assistant configuration
#################################################################
default_config:

homeassistant:
  packages: !include_dir_merge_named packages/

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js

http:
  ip_ban_enabled: true
  login_attempts_threshold: 3
  use_x_forwarded_for: true
  trusted_proxies: !secret trusted_proxies

logbook:
  exclude:
    domains:
      - input_boolean
      - media_player
    entity_globs:
      - '*.battery_sim_*'
      - '*sensor.grocy*'
      - automation.*_status_monitor*
      - automation.battery_control_*
      - binary_sensor.pixel_6a*
      - binary_sensor.ground_floor_camera_*
      - binary_sensor.g4_doorbell_*
      - binary_sensor.g5_bullet_*
      - device_tracker.*_mobile
      - sensor.pixel_6a*
      - sensor.*_switch*_action

lovelace:
  mode: storage

recorder:
  exclude:
    domains:
      - button
      - camera
      - calendar
      - image
      - input_text
      - remote
      - scene
      - sun
      - time
      - update
    entity_globs:
      - '*sensor.iphone_*'
      - binary_sensor.show_garbage_information*
      - binary_sensor.grocy_*
      - binary_sensor.*_interactive
      - input_number.*_kwh_counter
      - input_number.*_threshold
      - input_number.*_time_on
      - light.0x*
      - select.*_power_on_behavior
      - select.*_indicator_mode
      - select.*_power_outage_memory
      - sensor.*_action
      - sensor.*_geocoded_*
      - sensor.*_last_data_*
      - sensor.*_last_notification
      - sensor.*_last_removed_notification
      - sensor.*_last_seen
      - sensor.*_linkquality
      - sensor.*_poe_power
      - sensor.*uptime*
      - sensor.192_168_*
      - sensor.afvalinfo_*
      - sensor.anniversary_*
      - sensor.backup_*_automatic_backup
      - sensor.home_charging_session_start_*
      - sensor.mitsubishi_*ly_cop_*
      - sensor.power_highest_peak_time_*
      - sensor.replay*
      - sensor.smart_series_6000_9426_*
      - sensor.travel_time_next_destination_address_*
      - switch.*_overlay_*
      - switch.battery_sim_*
    entities:
      - sensor.date_time
      - sensor.season
      - sensor.time
      - sensor.id_3_minimum_workweek_charge
      ### Spook sensors
      - sensor.air_quality
      - sensor.alarm_control_panels
      - sensor.areas
      - sensor.automations
      - sensor.binary_sensors
      - sensor.buttons
      - sensor.calendars
      - sensor.cameras
      - sensor.climate
      - sensor.covers
      - sensor.custom_integrations
      - sensor.datetimes
      - sensor.dates
      - sensor.device_trackers
      - sensor.devices
      - sensor.entities
      - sensor.expected_travel_distance_list
      - sensor.fans
      - sensor.humidifiers
      - sensor.images
      - sensor.input_booleans
      - sensor.input_buttons
      - sensor.input_datetimes
      - sensor.input_numbers
      - sensor.input_selects
      - sensor.input_texts
      - sensor.integrations
      - sensor.lights
      - sensor.locks
      - sensor.media_players
      - sensor.numbers
      - sensor.persistent_notifications
      - sensor.persons
      - sensor.remotes
      - sensor.scenes
      - sensor.scripts
      - sensor.selects
      - sensor.sensors
      - sensor.sirens
      - sensor.stt
      - sensor.suns
      - sensor.switches
      - sensor.texts
      - sensor.travel_time_next_destinations_updated
      - sensor.tts
      - sensor.times
      - sensor.update
      - sensor.vacuums
      - sensor.water_heaters
      - sensor.weather
      - sensor.zones

#################################################################
## Includes and other platforms
#################################################################
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

sensor:
  - platform: time_date
    display_options:
      - 'date_time'
      - 'time'

tts:
  - platform: google_translate

device_tracker:
  - platform: bluetooth_le_tracker
    track_new_devices: false
    track_battery: false
    track_battery_interval: "01:00:00"

python_script:

custom_templates:
  preload_translations:
    - en