
#################################################################
## Home Assistant configuration
#################################################################
default_config:

homeassistant:
  packages: !include_dir_merge_named packages/

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js

http:
  ip_ban_enabled: true
  login_attempts_threshold: 3
  use_x_forwarded_for: true
  trusted_proxies: !secret trusted_proxies

logbook:
  exclude:
    domains:
      - input_boolean
      - media_player
    entity_globs:
      - '*.battery_sim_*'
      - '*sensor.grocy*'
      - automation.*_status_monitor*
      - binary_sensor.pixel_6a*
      - sensor.pixel_6a*
      - sensor.*_switch*_action

lovelace:
  mode: storage

recorder:
  purge_keep_days: 15
  exclude:
    domains:
      - button
      - camera
      - calendar
      - image
      - input_text
      - remote
      - scene
      - sun
      - time
      - update
      - weather
    entity_globs:
      - '*sensor.iphone_*'
      - binary_sensor.show_garbage_information*
      - binary_sensor.grocy_*
      - binary_sensor.*_interactive
      - input_number.*_kwh_counter
      - input_number.*_threshold
      - input_number.*_time_on
      - light.0x*
      - select.*_power_on_behavior
      - select.*_indicator_mode
      - select.*_power_outage_memory
      - sensor.*_action
      - sensor.*_geocoded_*
      - sensor.*_last_notification
      - sensor.*_last_removed_notification
      - sensor.*_last_seen
      - sensor.*_linkquality
      - sensor.*_poe_power
      - sensor.*_uptime*
      - sensor.afvalinfo_*
      - sensor.power_highest_peak_time_*
      - sensor.smart_series_6000_9426_*
      - sensor.replay*
      - sensor.192_168_*
      - switch.battery_sim_*
    entities:
      - sensor.date_time
      - sensor.season
      - sensor.time

#################################################################
## Includes and other platforms
#################################################################
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

home_connect_alt: 
  client_id: !secret home_connect_alt_client_id
  client_secret: !secret home_connect_alt_client_secret

sensor:
  - platform: time_date
    display_options:
      - 'date_time'
      - 'time'

tts:
  - platform: google_translate

device_tracker:
  - platform: bluetooth_le_tracker
    track_new_devices: false
    track_battery: false
    track_battery_interval: "01:00:00"

custom_templates:
  preload_translations:
    - en